
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Italic.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Black.ttf') format('truetype');
//   font-weight: 800;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
//   font-weight: 800;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
//   font-weight: 600;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
//   font-weight: 300;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
//   font-weight: 200;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
//   font-weight: 200;
//   font-style: italic;
// }
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
}
// @font-face {
//   font-family: 'Roboto';
//   src: url('./fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
//   font-weight: 100;
//   font-style: italic;
// }