$black: #000000;
$white: #FFFFFF;
$white25: rgba(255,255,255,0.25);
$white50: rgba(255,255,255,0.5);
$white75: rgba(255,255,255,0.75);
$black25: rgba(0,0,0,0.25);
$black50: rgba(0,0,0,0.5);
$black75: rgba(0,0,0,0.75);
$grey: #eef1f5;
$grey1: darken($grey, 30%);
$grey2: darken($grey, 60%);

$primary: rgb(44, 52, 63);
$primaryl10: lighten($primary, 10%);
$primaryl30: lighten($primary, 30%);
$primaryl50: lighten($primary, 50%);
$primaryd10: darken($primary, 10%);
$primaryd30: darken($primary, 30%);
$primaryd50: darken($primary, 50%);

$accent: #DE9706;
$accentl10: lighten($accent, 10%);
$accentl30: lighten($accent, 30%);
$accentl50: lighten($accent, 50%);
$accentd10: darken($accent, 10%);
$accentd30: darken($accent, 30%);
$accentd50: darken($accent, 50%);

$complimentary: #e7505a;
$complimentary1: lighten($complimentary, 10%);
$complimentary2: lighten($complimentary, 30%);
$complimentary3: darken($complimentary, 10%);
$complimentary4: darken($complimentary, 30%);

$border: darken($white, 20%);
$hover: darken($white, 5%);

$menuWidth: 200px;
$menuWidthCompact: 50px;