@import './variables';

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
  }
  .app-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 0px;
  }
  .app-content {
    flex: 1 1 auto;
    display: flex;
  }
  a {
    color: $accent;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
    &:visited {
      color: $accentl10;
    }
  }
}
