@import './variables';

$contentHeight: 350px;

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Roboto;

  .app {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;

  }
  .sign-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;

    .sign-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: $contentHeight;
      width: 70%;
      background-color: transparent;

      img {
        height: 170px;
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $white;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);

        .info {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          background-color: $accent;
          color: $white;
          height: $contentHeight;
          padding: 10px 20px;

          h1 {
            font-size: 3rem;
            line-height: 2.7rem;
            font-weight: 200;
            color: inherit;
          }
          h2 {
            font-size: 24px;
            font-weight: 200;
            line-height: 30px;
            text-align: left;
            color: inherit;
          }
          .actions {
            padding: 10px 0;

            button {
              margin-right: 10px;

              &.outline {
                background-color: $accent;
                border: 1px solid $white50;
                color: $white;
              }
              &:hover {
                border-color: $white;
              }
            }
          }
        }
        form {
          flex: 0 1 250px;
          width: 250px;
          height: $contentHeight;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 10px 20px;

          h2 {
            color: $primaryl10;
            flex: 0;
            margin-bottom: 10px;
            margin-top: 20px;
          }
          .fields {
            flex: 1;

            .el-input i {
              font-size: 18px;
              vertical-align: middle;
              color: $black50;
              margin-left: 3px;
            }
            .signin-field {
              margin-bottom: 10px;
            }
          }
          p {
            color: $primaryd30;
            flex: 0;
            line-height: 1em;
          }
        }
      }
    }
  }
}
