<template>
  <div class="header">
    <div class="left" :class="{collapsed: collapsed}">
      <el-button icon="navicon" @click="toggle"></el-button>
    </div>
    <div class="center">
      <img src="~/assets/images/logo.png" />
      <span class="title">{{title}}</span>
    </div>
    <div class="right">
      <user-status v-if="isAuthenticated" :name="fullName" :status="lastLogin" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import UserStatus from '@/app/components/UserStatus';

export default {
  name: 'app-header',
  props: ['title'],
  components: {UserStatus},
  computed: {
    ...mapState({
      collapsed: state => state.ui.collapsed,
    }),
    ...mapGetters([
      'isAuthenticated',
      'fullName',
      'lastLogin'
    ])
  },
  methods: {
    ...mapActions({
      toggle: 'ui/toggleCollapsed'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables';

.header {
  flex: 0 1 auto;
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 64px;
  flex-basis: 64px;

  .left {
    width: 200px;
    transform-style: width;
    transition-duration: 200ms;
    transition-timing-function: linear;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;

    &.collapsed {
      width: 40px;
      transition-duration: 320ms;

      button {
        transform: rotate(0deg);
      }
    }
    button {
      padding: 0;
      background-color: transparent;
      border-width: 0;
      font-size: 24px;
      color: $white50;
      transition: all 300ms;
      transform: rotate(90deg);

      &:hover {
        color: $white75;
      }
    }
  }
  .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 45px;
    }
    .title {
      color: $white;
      font-size: 24px;
      margin-left: 5px;
    }
  }
  .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
  }
}
</style>
