<template>
  <el-form @submit.prevent="register" size="mini">
    <h2>Register</h2>
    <div class="fields">
      <el-form-item class="signin-field">
        <el-input v-model="username" placeholder="enter username" size="small"></el-input>
      </el-form-item>
      <el-form-item class="signin-field">
        <el-input v-model="password" type="password" placeholder="enter password" size="small"></el-input>
      </el-form-item>
      <el-form-item class="signin-field">
        <el-input v-model="verify" type="password" placeholder="verify password" size="small"></el-input>
      </el-form-item>
      <el-form-item class="signin-field">
        <el-button :disabled="shouldDisable" type="warning" native-type="submit">Register</el-button>
      </el-form-item>
      <el-alert type="error" v-if="formError">{{formError}}</el-alert>
    </div>
    <p>Already have an account? <nuxt-link to="/auth/sign-in">Click here</nuxt-link> to sign in.</p>
  </el-form>
</template>

<script>
export default {
  name: 'app-register',
  data(){
    return {
      formError: '',
      username: '',
      password: '',
      verify: ''
    }
  },
  computed: {
    shouldDisable(){
      return this.username === '' ||
             this.password === '' ||
             this.verify === '' ||
             this.password !== this.verify
    },
    pwdIcon() {
      return this.password ? 'ico-unlock' : 'ico-lock';
    }
  },
  methods: {
    register(){
      
    }
  }
}

</script>

<style lang="scss" scoped>
@import '../../styles/variables';

</style>
