<template>
  <div class="sidebar" :class="{collapsed: collapsed}">
    <div class="content">
      <menu-group label="Collections" :collapsed="collapsed" />
      <menu-item link="/about" icon="person" label="Users" :active="true" :collapsed="collapsed" />
      <menu-item link="/reports" icon="document" label="Reports" :collapsed="collapsed" />
      <menu-item link="/auth/sign-out" icon="document" label="Log Off" :collapsed="collapsed" />
    </div>
    <app-footer :text="copyright" :collapsed="collapsed" />
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import AppFooter from '@/app/components/AppFooter';
import MenuGroup from '@/app/components/MenuGroup';
import MenuItem from '@/app/components/MenuItem';

export default {
  name: 'app-sidebar',
  props: ['title'],
  components: {AppFooter, MenuGroup, MenuItem},
  computed: {
    ...mapState({
      collapsed: state => state.ui.collapsed,
    }),
    ...mapGetters({
      isAuthenticated: 'isAuthenticated'
    }),
    copyright(){
      return `Copyright &copy; ${new Date().getFullYear()}`
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables';

.sidebar {
  flex: 0 1 auto;
  background-color: $primaryd10;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  flex-basis: 200px;
  padding-top: 30px;
  transition: all 200ms;

  &.collapsed {
    width: 60px;
    flex-basis: 60px;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
