<template>
  <el-form @submit.prevent size="mini">
    <h2>Sign in</h2>
    <div class="fields">
      <el-form-item class="signin-field">
        <el-input v-model="username" placeholder="enter username" size="small">
          <i class="ico-user" slot="prefix"></i>
        </el-input>
      </el-form-item>
      <el-form-item class="signin-field">
        <el-input v-model="password" type="password" placeholder="enter password" size="small">
          <i :class="pwdIcon" slot="prefix"></i>
        </el-input>
      </el-form-item>
      <el-form-item class="signin-field">
        <el-button :disabled="shouldDisable" @click="login" type="warning">Sign-in</el-button>
      </el-form-item>
      <el-alert type="error" v-if="formError" :title="formError" />
    </div>
    <p>Need an account? <nuxt-link to="/auth/register">Click here</nuxt-link> to register.</p>
  </el-form>
</template>

<script>
export default {
  name: 'app-signin',
  data(){
    return {
      formError: '',
      username: 'kev',
      password: 'secret',
    }
  },
  computed: {
    shouldDisable(){
      return this.username === '' ||
             this.password === ''
    },
    pwdIcon() {
      return this.password ? 'ico-unlock' : 'ico-lock';
    }
  },
  methods: {
    async login() {
      try {
        await this.$store.dispatch('login', {
          username: this.username,
          password: this.password
        });
        this.username = '';
        this.password = '';
        this.formError = '';
        this.$nuxt.$router.replace({ path: '/' });
      } catch(error) {
        this.formError = error.message;
      }
    }
  }
}

</script>

<style lang="scss" scoped>
@import '../../styles/variables';

</style>
