<template>
  <div class="page">
    <h1>About</h1>
    <p>This was rendered by the {{ renderer }}</p>
    <nuxt-link to="/">
      <el-button plain icon="el-icon-back" type="danger">Home</el-button>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'about',
  asyncData ({ req }) {
    return {
      renderer: req ? 'server' : 'client',
    }
  },
}
</script>

<style lang="scss" scoped>
  .page {
    padding: 10px 20px;
  }
</style>
