<template>
  <div class="page">
    <div class="home-header">
      <div class="container">
        <div class="vue">Vue.js</div>
        <span>+</span>
        <div class="nuxt">Nuxt</div>
        <span>+</span>
        <div class="feathers">Feathers</div>
      </div>
    </div>
    <div class="framework-section">
      <div class="container">
        <h1>Primary Frameworks</h1>
      </div>
      <div class="container">
        <div class="left">
          <el-button class="vue" :class="buttonClass(0)" @click="switchFramework(0)">Vue</el-button>
          <el-button class="nuxt" :class="buttonClass(1)" @click="switchFramework(1)">Nuxt</el-button>
          <el-button class="feathers" :class="buttonClass(2)" @click="switchFramework(2)">Feathers</el-button>
        </div>
        <div class="body">
          <div v-if="activeFramework === 0" class="vue-section">
            <img src="~/static/vue.png" alt="Vue.js">
            <div>
              <h1>Vue.js</h1>
              <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.</p>
            </div>
          </div>
          <div v-if="activeFramework === 1" class="nuxt-section">
            <img src="~/static/nuxt.png" alt="NUXT">
            <div>
              <h1>Nuxt</h1>
              <p>Nuxt.js is a framework for creating Universal Vue.js Applications.</p>
              <p>Its main scope is UI rendering while abstracting away the client/server distribution.</p>
              <p>Our goal is to create a framework flexible enough that you can use it as a main project base or in addition to your current project based on Node.js.</p>
              <p>Nuxt.js presets all the configuration needed to make your development of a Vue.js Application Server Rendered more enjoyable.</p>
              <p>In addition, we also provide another deployment option called: nuxt generate. It will build a Static Generated Vue.js Application. We believe that option could be the next big step in the development of Web Applications with microservices.</p>
              <p>As a framework, Nuxt.js comes with a lot of features to help you in your development between the client side and the server side such as Asynchronous Data, Middleware, Layouts, etc.</p>
            </div>
          </div>
          <div v-if="activeFramework === 2" class="feathers-section">
            <img src="~/static/feathers.png" alt="Feathers">
            <div>
              <h1>Feathers</h1>
              <p>Feathers is a batteries included but entirely optional minimal web application framework.</p>
              <p>At its core, Feathers is a set of tools and an architecture pattern that make it easy to create scalable REST APIs and real-time applications. With Feathers, you can literally build prototypes in minutes and production-ready apps in days.</p>
              <p>Feathers achieves this by being the glue code between some amazing battle-tested open-source technologies - adding a few minimal abstractions and introducing an application architecture that is easier to understand, maintain, and scale than the traditional MVC architecture.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="quotes"><div class="container">{{randomQuote}}</div></div>
    <div class="others-section">
      <div class="container">
        <h1>Other Frameworks</h1>
      </div>
      <div class="container">
        <div class="item">
          <h2>Element UI</h2>
          <a target="_blank" href="http://element.eleme.io/#/en-US">Element UI</a>
          <p>
            Element, a Vue 2.0 based component library for developers, designers and product managers.
          </p>
        </div>
        <div class="item">
          <h2>Axios</h2>
          <a target="_blank" href="https://github.com/axios/axios">Axios</a>
          <p>
            Promise based HTTP client for the browser and node.js.
          </p>
        </div>
        <div class="item">
          <h2>Luxon</h2>
          <a target="_blank" href="https://moment.github.io/luxon/">Luxon</a>
          <p>
            A powerful, modern, and friendly wrapper for Javascript dates and times.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { title } from "@/../app.config";
export default {
  name: 'home',
  data(){
    return {
      title: title,
      activeFramework: 0
    }
  },
  computed: {
    ...mapGetters({
      randomQuote: 'quotes/random'
    })
  },
  methods: {
    buttonClass(type){
      if (type === this.activeFramework) {
        return 'active';
      } else {
        return '';
      }
    },
    switchFramework(type){
      this.activeFramework = type;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/variables';

.page {

  .home-header {
    background-color: $primaryl10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200px;
    color: #FFFFFF;
    font-size: 4.5em;

    div {
      justify-content: center;
      align-items: center;

      &.vue {
        font-family: Dosis;
        font-weight: 400;
      }
      &.nuxt {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
      }
      &.feathers {
        font-family: Roboto;
        font-weight: 100;
      }
    }
    span {
      font-size: 0.7em;
      color: $primaryl50;
      margin: 0 20px;
    }
  }
  .framework-section {
    display: flex;
    flex-direction: column;
    color: $primaryd10;
    font-family: Arial;
    padding: 25px 0;

    h1 { padding: 10px; font-weight: 600; color: $primaryd30; }

    .left {
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 20px 10px 0 0;

      button {
        margin-bottom: 10px;
        width: 125px;
        border: 1px solid #3AB982;
        color: #3AB982;

        &:hover {
          background-color: lighten(#3AB982, 45%);
        }
        &.active { color: #ffffff; }

        &.vue.active {
          background-color: #3AB982;
          border-color: #3AB982;
        }
        &.nuxt.active {
          background-color: #398071;
          border-color: #398071;
        }
        &.feathers.active {
          background-color: #333333;
          border-color: #333333;
        }
      }
    }
    .body {
      padding-top: 5px;

      .vue-section,
      .nuxt-section,
      .feathers-section {
        min-height: 200px;
        padding: 10px 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        img {
          margin: 0 20px 0 0;
          height: 125px;
        }
        div {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          h1 {
            font-size: 2em;
            font-weight: 600;
            color: #333333;
            margin: 0;
          }
          p {
            margin-bottom: 0px;
            line-height: 1.5em;
            font-size: 1.1em;
          }
        }
      }
    }
  }
  .quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryl30;
    color: $white;
    min-height: 80px;
    padding: 20px 0px;
    font-size: 24px;

    .container { padding: 0 150px; }
  }
  .others-section {
    display: flex;
    flex-direction: column;
    background-color: darken($white, 5%);
    color: $primaryd30;
    min-height: 100px;
    font-family: Arial;
    padding: 25px 0;

    h1 { padding: 10px; font-weight: 600; color: $primaryd30; }

    .item {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding: 10px;
      border: 1px solid #CCCCCC;
      border-radius: 10px;
      margin: 5px;
      background-color: $white;

      h2 {
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        color: $primary;
      }
      p {

      }
      a {
        text-align: center;
        font-size: 1.1em;
        color: $primaryl10;
        text-decoration: underline;
      }
    }
  }
}
</style>
