<template>
  <div class="sign-page">
    <div class="sign-container">
      <nuxt-link to="/">
        <img src="~/assets/images/logo.png" :alt="title" />
      </nuxt-link>
      <div class="content">
        <app-forminfo :title="title" :slogan="slogan" />
        <app-register />
      </div>
    </div>
  </div>
</template>

<script>
import AppFormInfo from '@/app/components/AppFormInfo';
import AppRegister from '@/app/containers/AppRegisterForm';
import {title, slogan} from '@/../app.config';

export default {
  layout: 'login',
  components: {
    'app-register': AppRegister,
    'app-forminfo': AppFormInfo
  },
  data(){
    return {
      title,
      slogan
    }
  }
}
</script>
