<template>
  <p>Signing off...</p>
</template>

<script>
export default {
  layout: 'login',
  middleware: 'authenticated',
  fetch ({redirect, store}) {
    store.dispatch('logout')
      .then(() => redirect('/auth/sign-in'));
  }
}
</script>
