@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?ep5k4b') format('truetype'),
    url('fonts/icomoon.woff?ep5k4b') format('woff'),
    url('fonts/icomoon.svg?ep5k4b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-alert-triangle:before {
  content: "\e900";
}
.ico-calendar:before {
  content: "\e901";
}
.ico-check:before {
  content: "\e902";
}
.ico-check-circle:before {
  content: "\e903";
}
.ico-check-square:before {
  content: "\e904";
}
.ico-chevron-down:before {
  content: "\e905";
}
.ico-chevron-left:before {
  content: "\e906";
}
.ico-download:before {
  content: "\e907";
}
.ico-download-cloud:before {
  content: "\e908";
}
.ico-edit:before {
  content: "\e909";
}
.ico-edit-2:before {
  content: "\e90a";
}
.ico-edit-3:before {
  content: "\e90b";
}
.ico-external-link:before {
  content: "\e90c";
}
.ico-facebook:before {
  content: "\e90d";
}
.ico-file:before {
  content: "\e90e";
}
.ico-file-text:before {
  content: "\e90f";
}
.ico-filter:before {
  content: "\e910";
}
.ico-folder:before {
  content: "\e911";
}
.ico-heart:before {
  content: "\e912";
}
.ico-help-circle:before {
  content: "\e913";
}
.ico-home:before {
  content: "\e914";
}
.ico-inbox:before {
  content: "\e915";
}
.ico-info:before {
  content: "\e916";
}
.ico-lock:before {
  content: "\e917";
}
.ico-log-in:before {
  content: "\e918";
}
.ico-log-out:before {
  content: "\e919";
}
.ico-mail:before {
  content: "\e91a";
}
.ico-menu:before {
  content: "\e91b";
}
.ico-minus:before {
  content: "\e91c";
}
.ico-minus-circle:before {
  content: "\e91d";
}
.ico-minus-square:before {
  content: "\e91e";
}
.ico-plus:before {
  content: "\e91f";
}
.ico-plus-circle:before {
  content: "\e920";
}
.ico-plus-square:before {
  content: "\e921";
}
.ico-search:before {
  content: "\e922";
}
.ico-share:before {
  content: "\e923";
}
.ico-slash:before {
  content: "\e924";
}
.ico-star:before {
  content: "\e925";
}
.ico-trash:before {
  content: "\e926";
}
.ico-trash-2:before {
  content: "\e927";
}
.ico-twitter:before {
  content: "\e928";
}
.ico-unlock:before {
  content: "\e929";
}
.ico-upload:before {
  content: "\e92a";
}
.ico-upload-cloud:before {
  content: "\e92b";
}
.ico-user2:before {
  content: "\e92c";
}
.ico-user-check:before {
  content: "\e92d";
}
.ico-user-minus:before {
  content: "\e92e";
}
.ico-user-plus:before {
  content: "\e92f";
}
.ico-user-x:before {
  content: "\e930";
}
.ico-users:before {
  content: "\e931";
}
.ico-x:before {
  content: "\e932";
}
.ico-x-circle:before {
  content: "\e933";
}
.ico-x-square:before {
  content: "\e934";
}
.ico-user:before {
  content: "\e935";
}
