<template>
  <div class="app">
    <app-header :title="title" />
    <div class="app-body" ref="appbody">
      <app-sidebar />
      <div class="app-content"><nuxt/></div>
    </div>
  </div>
</template>

<script>
import { app } from '@/../app.config';
import AppHeader from '@/app/containers/AppHeader';
import AppSidebar from '@/app/containers/AppSidebar';

export default {
  name: 'app-layout',
  middleware: 'authenticated',
  components: {AppHeader, AppSidebar},
  data(){
    return {
      title: app
    }
  }
}
</script>

<style lang="scss">
  @import "../styles/app";
</style>
