<template>
  <div class="page">
    <page-header :title="title" />
    <div class="page-body">
      <nuxt/>
    </div>
  </div>
</template>

<script>
import { app } from '@/../app.config';
import Header from '@/components/Header';

export default {
  name: 'default-layout',
  components: { 'page-header': Header },
  data(){
    return {
      title: app
    }
  }
}
</script>
