<template>
  <div class="header">
    <div class="center">
      <img src="~/assets/images/logo.png" />
      <span class="title">{{title}}</span>
    </div>
    <div class="right">
      <template v-if="isAuthenticated">
        <nuxt-link to="/app/">
          <el-button type="text">Admin</el-button>
        </nuxt-link>
        <nuxt-link to="/auth/sign-out">
          <el-button type="text">Sign out</el-button>
        </nuxt-link>
      </template>
      <template v-else>
        <nuxt-link to="/auth/register">
          <el-button type="text">Register</el-button>
        </nuxt-link>
        <nuxt-link to="/auth/sign-in">
          <el-button type="text">Sign-in</el-button>
        </nuxt-link>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'page-header',
  props: ['title'],
  components: {},
  computed: {
    ...mapGetters([
      'isAuthenticated',
    ])
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/variables';

.header {
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 80px;
  flex-basis: 80px;
  position: fixed;

  .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    img {
      height: 45px;
    }
    .title {
      color: $white;
      font-size: 24px;
      margin-left: 5px;
    }
  }
  .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;

    button {
      color: $accent;
      font-size: 1.1em;
      font-weight: 100;
      margin-right: 15px;

      &:hover {
        color: $accentl30;
      }
    }
  }
}
</style>
