<template>
  <div class="info">
    <h1>{{title}}</h1>
    <h2>{{slogan}}</h2>
    <div class="actions">
      <nuxt-link to="/">
        <el-button plain>Learn More</el-button>
      </nuxt-link>
      <nuxt-link to="/#features">
        <el-button class="outline">Our Features</el-button>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-forminfo',
  props: ['title', 'slogan']
}
</script>
