<template>
  <div class="app-footer" :class="{collapsed: collapsed}">
    <div class="logo">
      
    </div>
    <div class="text-container">
      <div class="text" v-html="text"></div>
      <div class="subtext" v-html="subtext"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-footer',
  props: ['text', 'subtext', 'logo', 'collapsed']
}
</script>


<style lang="scss" scoped>
@import '../../styles/variables';

.app-footer {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: $white50;
  transition: opacity 200ms;
  transition-delay: 300ms;
  opacity: 1;
  white-space: nowrap;

  &.collapsed {
    transition-delay: 0ms;
    opacity: 0;
  }
  .logo {
  }
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 13px;
    }
    .subtext {
      font-size: 11px;
      color: $white75;
    }
  }
}
</style>
