<template>
  <div class="menu-group" :class="{collapsed: collapsed}">
    <div class="icon" v-if="icon">
      <!-- <el-icon :type="icon" /> -->
    </div>
    <div class="label">{{label}}</div>
  </div>
</template>

<script>
export default {
  name: 'menu-group',
  props: ['icon', 'label', 'collapsed']
}
</script>


<style lang="scss" scoped>
@import '../../styles/variables';

.menu-group {
  // flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 10px;

  .icon {
    flex: 0 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white50;
    font-size: 12px;
    padding: 5px;
  }
  .label {
    flex: 1;
    color: $white50;
    text-transform: uppercase;
    font-size: 10px;
  }

  &.collapsed {
    visibility: hidden;
  }
}
</style>
