<template>
  <nuxt-link :to="link" class="menu-item" :class="{collapsed: collapsed}" active-class="active">
    <div class="icon" v-if="icon">
      <!-- <el-icon :type="icon" /> -->
    </div>
    <div class="label">{{label}}</div>
    <!-- <Tooltip v-if="collapsed" :content="label" placement="right" :transfer="true"><div class="mit" /></Tooltip> -->
  </nuxt-link>
</template>

<script>
export default {
  name: 'menu-item',
  props: ['icon', 'label', 'collapsed', 'link', 'active']
}
</script>


<style lang="scss" scoped>
@import '../../styles/variables';

.menu-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: $white50;
  transition: background-color 200ms;

  .ivu-tooltip {
    .mit {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
    }
  }

  .icon {
    flex: 0 1;
    flex-basis: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    transition: all 170ms;
  }
  .label {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    transition: all 170ms;
  }

  &:hover {
    background-color: darken($primary, 5%);
  }
  &.active {
    background-color: $primary;
    color: $white75;
    border-right: 5px solid $accent;
  }
  &.collapsed {
    justify-content: center;

    .icon {
      font-size: 30px;
    }
    .label {
      display: none;
    }
  }
}
</style>
