<template>
  <div class="user-status">
    <div class="icon">
      <user-icon></user-icon>
    </div>
    <div class="text">
      <h1>{{name}}</h1>
      <h2>{{status}}</h2>
    </div>
    <div class="action">
      <el-dropdown trigger="click" @command="onCommand">
        <span class="el-dropdown-link">
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Edit Profile</el-dropdown-item>
          <el-dropdown-item command="signout" divided>
            <div class="dropdown-item">
              Log out
            </div>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>      
    </div>
  </div>
</template>

<script>
export default {
  name: 'user-status',
  props: ['name', 'status'],
  methods: {
    onCommand(cmd) {
      switch(cmd){
        case 'signout':
          this.$nuxt.$router.replace({ path: '/auth/sign-out' });
          break;
        default:
          break;
      }
    }
  }
}
</script>


<style lang="scss" scoped>
@import '../../styles/variables';

.user-status {
  flex: 1;
  display: flex;
  flex-direction: row;

  .icon {
    flex: 0 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white50;
    font-size: 24px;
    padding: 5px;
  }
  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $white75;
    text-transform: lowercase;

    h1 {
      font-size: 13px;
    }
    h2 {
      font-size: 11px;
      color: $white50;
    }
  }
  .action {
    .el-dropdown-link {
      font-size: 24px;
      color: $white75;
    }
  }
}
.dropdown-item {
  display: flex;
  align-items: center;

  svg { margin-right: 5px; }
}
</style>
